.divTitle.rankingTitle.SFV {
	background-image: url("/ranking/Images/Design/SFV/RankingTitle.png");
}		
.SFV_unknown {
	background-image: url("/ranking/Images/Character/SFV/Unknown.png");
}
.SFV_abigail {
	background-image: url("/ranking/Images/Character/SFV/Abigail.png");
}
.SFV_akuma {
	background-image: url("/ranking/Images/Character/SFV/Gouki.png");
}
.SFV_alex {
	background-image: url("/ranking/Images/Character/SFV/Alex.png");
}
.SFV_balrog {
	background-image: url("/ranking/Images/Character/SFV/Balrog.png");
}
.SFV_birdie {
	background-image: url("/ranking/Images/Character/SFV/Birdie.png");
}
.SFV_bison {
	background-image: url("/ranking/Images/Character/SFV/M.Bison.png");
}
.SFV_blanka {
	background-image: url("/ranking/Images/Character/SFV/Blanka.png");
}
.SFV_cammy {
	background-image: url("/ranking/Images/Character/SFV/Cammy.png");
}
.SFV_chunli {
	background-image: url("/ranking/Images/Character/SFV/Chun-Li.png");
}
.SFV_cody {
	background-image: url("/ranking/Images/Character/SFV/Cody.png");
}
.SFV_dhalsim {
	background-image: url("/ranking/Images/Character/SFV/Dhalsim.png");
}
.SFV_EHonda {
	background-image: url("/ranking/Images/Character/SFV/EHonda.png");
}
.SFV_ed {
	background-image: url("/ranking/Images/Character/SFV/ED.png");
}
.SFV_falke {
	background-image: url("/ranking/Images/Character/SFV/Falke.png");
}
.SFV_fang {
	background-image: url("/ranking/Images/Character/SFV/F.A.N.G.png");
}
.SFV_g {
	background-image: url("/ranking/Images/Character/SFV/G.png");
}
.SFV_guile {
	background-image: url("/ranking/Images/Character/SFV/Guile.png");
}
.SFV_ibuki {
	background-image: url("/ranking/Images/Character/SFV/Ibuki.png");
}
.SFV_juri {
	background-image: url("/ranking/Images/Character/SFV/Juri.png");
}
.SFV_kage {
	background-image: url("/ranking/Images/Character/SFV/Kage.png");
}
.SFV_karin {
	background-image: url("/ranking/Images/Character/SFV/Karin.png");
}
.SFV_ken {
	background-image: url("/ranking/Images/Character/SFV/Ken.png");
}
.SFV_kolin {
	background-image: url("/ranking/Images/Character/SFV/Kolin.png");
}
.SFV_laura {
	background-image: url("/ranking/Images/Character/SFV/Laura.png");
}
.SFV_Lucia {
	background-image: url("/ranking/Images/Character/SFV/Lucia.png");
}
.SFV_menat {
	background-image: url("/ranking/Images/Character/SFV/Menat.png");
}
.SFV_mika {
	background-image: url("/ranking/Images/Character/SFV/Mika.png");
}
.SFV_nash {
	background-image: url("/ranking/Images/Character/SFV/Nash.png");
}
.SFV_nekali {
	background-image: url("/ranking/Images/Character/SFV/Necali.png");
}
.SFV_Poison {
	background-image: url("/ranking/Images/Character/SFV/Poison.png");
}
.SFV_rashid {
	background-image: url("/ranking/Images/Character/SFV/Rashid.png");
}
.SFV_ryu {
	background-image: url("/ranking/Images/Character/SFV/Ryu.png");
}
.SFV_sagat {
	background-image: url("/ranking/Images/Character/SFV/Sagat.png");
}
.SFV_sakura {
	background-image: url("/ranking/Images/Character/SFV/Sakura.png");
}
.SFV_urien {
	background-image: url("/ranking/Images/Character/SFV/Urien.png");
}
.SFV_vega {
	background-image: url("/ranking/Images/Character/SFV/Vega.png");
}
.SFV_zangief {
	background-image: url("/ranking/Images/Character/SFV/Zangief");
}
.SFV_zeku {
	background-image: url("/ranking/Images/Character/SFV/Zeku.png");
}
