.divTitle.rankingTitle.SSBU {
	background-image: url("/ranking/Images/Design/SSBU/RankingTitle.png");
}		
.SSBU_unknown {
	background-image: url("/ranking/Images/Character/SSBU/Unknown.png");
}
.SSBU_BanjoKazui {
	background-image: url("/ranking/Images/Character/SSBU/Banjo_Kazui_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Bayonetta {
	background-image: url("/ranking/Images/Character/SSBU/Bayonetta_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Bowser {
	background-image: url("/ranking/Images/Character/SSBU/Bowser_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_BowserJr {
	background-image: url("/ranking/Images/Character/SSBU/Bowser_Jr._-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_CaptainFalcon {
	background-image: url("/ranking/Images/Character/SSBU/Captain_Falcon_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Chrom {
	background-image: url("/ranking/Images/Character/SSBU/Chrom_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Cloud {
	background-image: url("/ranking/Images/Character/SSBU/Cloud_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Corrin {
	background-image: url("/ranking/Images/Character/SSBU/Corrin_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Daisy {
	background-image: url("/ranking/Images/Character/SSBU/Daisy_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_DarkPit {
	background-image: url("/ranking/Images/Character/SSBU/Dark_Pit_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_DarkSamus {
	background-image: url("/ranking/Images/Character/SSBU/Dark_Samus_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_DiddyKong {
	background-image: url("/ranking/Images/Character/SSBU/Diddy_Kong_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_DonkeyKong {
	background-image: url("/ranking/Images/Character/SSBU/Donkey_Kong_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_DrMario {
	background-image: url("/ranking/Images/Character/SSBU/Dr._Mario_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_DuckHunt {
	background-image: url("/ranking/Images/Character/SSBU/Duck_Hunt_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Falco {
	background-image: url("/ranking/Images/Character/SSBU/Falco_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Fox {
	background-image: url("/ranking/Images/Character/SSBU/Fox_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Ganondorf {
	background-image: url("/ranking/Images/Character/SSBU/Ganondorf_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Greninja {
	background-image: url("/ranking/Images/Character/SSBU/Greninja_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Hero {
	background-image: url("/ranking/Images/Character/SSBU/Hero_SSBU.png");
}
.SSBU_IceClimbers {
	background-image: url("/ranking/Images/Character/SSBU/Ice_Climbers_SSBU.png");
}
.SSBU_Ike {
	background-image: url("/ranking/Images/Character/SSBU/Ike_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Incineroar {
	background-image: url("/ranking/Images/Character/SSBU/Incineroar_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Inkling {
	background-image: url("/ranking/Images/Character/SSBU/Inkling_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Isabelle {
	background-image: url("/ranking/Images/Character/SSBU/Isabelle_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Jigglypuff {
	background-image: url("/ranking/Images/Character/SSBU/Jigglypuff_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Joker {
	background-image: url("/ranking/Images/Character/SSBU/Joker_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Ken {
	background-image: url("/ranking/Images/Character/SSBU/Ken_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_KingDedede {
	background-image: url("/ranking/Images/Character/SSBU/King_Dedede_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_KingKRool {
	background-image: url("/ranking/Images/Character/SSBU/King_K._Rool_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Kirby {
	background-image: url("/ranking/Images/Character/SSBU/Kirby_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Link {
	background-image: url("/ranking/Images/Character/SSBU/Link_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_LittleMac {
	background-image: url("/ranking/Images/Character/SSBU/Little_Mac_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Lucario {
	background-image: url("/ranking/Images/Character/SSBU/Lucario_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Lucas {
	background-image: url("/ranking/Images/Character/SSBU/Lucas_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Lucina {
	background-image: url("/ranking/Images/Character/SSBU/Lucina_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Luigi {
	background-image: url("/ranking/Images/Character/SSBU/Luigi_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Mario {
	background-image: url("/ranking/Images/Character/SSBU/Mario_SSBU.png");
}
.SSBU_Marth {
	background-image: url("/ranking/Images/Character/SSBU/Marth_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_MegaMan {
	background-image: url("/ranking/Images/Character/SSBU/Mega_Man_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_MetaKnight {
	background-image: url("/ranking/Images/Character/SSBU/Meta_Knight_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Mewtwo {
	background-image: url("/ranking/Images/Character/SSBU/Mewtwo");
}
.SSBU_MiiBrawler {
	background-image: url("/ranking/Images/Character/SSBU/Mii_Brawler_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_MiiGunner {
	background-image: url("/ranking/Images/Character/SSBU/Mii_Gunner_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_MiiSwordfighter {
	background-image: url("/ranking/Images/Character/SSBU/Mii_Swordfighter_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_MrGameWatch {
	background-image: url("/ranking/Images/Character/SSBU/Mr._Game_&_Watch_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Ness {
	background-image: url("/ranking/Images/Character/SSBU/Ness_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Olimar {
	background-image: url("/ranking/Images/Character/SSBU/Olimar_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_PacMan {
	background-image: url("/ranking/Images/Character/SSBU/Pac-Man_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Palutena {
	background-image: url("/ranking/Images/Character/SSBU/Palutena_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Peach {
	background-image: url("/ranking/Images/Character/SSBU/Peach_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Pichu {
	background-image: url("/ranking/Images/Character/SSBU/Pichu_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_PiranhaPlant {
	background-image: url("/ranking/Images/Character/SSBU/Piranha_Plant_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Pit {
	background-image: url("/ranking/Images/Character/SSBU/Pit_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_PokémonTrainer {
	background-image: url("/ranking/Images/Character/SSBU/Pokémon_Trainer_SSBU.png");
}
.SSBU_ROB {
	background-image: url("/ranking/Images/Character/SSBU/R.O.B._-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_RichterBelmont {
	background-image: url("/ranking/Images/Character/SSBU/Richter_Belmont_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Ridley {
	background-image: url("/ranking/Images/Character/SSBU/Ridley_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Robin {
	background-image: url("/ranking/Images/Character/SSBU/Robin_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_RosalinaLuma {
	background-image: url("/ranking/Images/Character/SSBU/Rosalina_&_Luma_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Roy {
	background-image: url("/ranking/Images/Character/SSBU/Roy_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Ryu {
	background-image: url("/ranking/Images/Character/SSBU/Ryu_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Samus {
	background-image: url("/ranking/Images/Character/SSBU/Samus_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Sheik {
	background-image: url("/ranking/Images/Character/SSBU/Sheik_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Shulk {
	background-image: url("/ranking/Images/Character/SSBU/Shulk_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_SimonBelmont {
	background-image: url("/ranking/Images/Character/SSBU/Simon_Belmont_SSBU.png");
}
.SSBU_Snake {
	background-image: url("/ranking/Images/Character/SSBU/Snake_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Sonic {
	background-image: url("/ranking/Images/Character/SSBU/Sonic_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_ToonLink {
	background-image: url("/ranking/Images/Character/SSBU/Toon_Link_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Villager {
	background-image: url("/ranking/Images/Character/SSBU/Villager_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Wario {
	background-image: url("/ranking/Images/Character/SSBU/Wario_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_WiiFitTrainer {
	background-image: url("/ranking/Images/Character/SSBU/Wii_Fit_Trainer_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Wolf {
	background-image: url("/ranking/Images/Character/SSBU/Wolf_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Yoshi {
	background-image: url("/ranking/Images/Character/SSBU/Yoshi_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_YoungLink {
	background-image: url("/ranking/Images/Character/SSBU/Young_Link_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_Zelda {
	background-image: url("/ranking/Images/Character/SSBU/Zelda_-_Super_Smash_Bros._Ultimate.png");
}
.SSBU_ZeroSuitSamus {
	background-image: url("/ranking/Images/Character/SSBU/Zero_Suit_Samus_-_Super_Smash_Bros._Ultimate.png");
}
