.divTitle.rankingTitle.T7 {
	background-image: url("/ranking/Images/Design/T7/RankingTitle.png");
}		
.T7_unknown {
	background-image: url("/ranking/Images/Character/T7/Unknown.png");
}
.T7_alisa {
	background-image: url("/ranking/Images/Character/T7/Alisa.png");
}
.T7_Anna {
	background-image: url("/ranking/Images/Character/T7/Anna.png");
}
.T7_ArmorKing {
	background-image: url("/ranking/Images/Character/T7/ArmorKing.png");
}
.T7_asuka {
	background-image: url("/ranking/Images/Character/T7/Asuka.png");
}
.T7_bob {
	background-image: url("/ranking/Images/Character/T7/Bob.png");
}
.T7_bryan {
	background-image: url("/ranking/Images/Character/T7/Bryan.png");
}
.T7_chloe {
	background-image: url("/ranking/Images/Character/T7/L.Chloe.png");
}
.T7_claudio {
	background-image: url("/ranking/Images/Character/T7/Claudio.png");
}
.T7_CraigMarduk {
	background-image: url("/ranking/Images/Character/T7/Craig_Marduk_T7.png");
}
.T7_deviljin {
	background-image: url("/ranking/Images/Character/T7/DevilJin.png");
}
.T7_dragunov {
	background-image: url("/ranking/Images/Character/T7/Dragunov.png");
}
.T7_eddy {
	background-image: url("/ranking/Images/Character/T7/Eddy.png");
}
.T7_Eliza {
	background-image: url("/ranking/Images/Character/T7/Eliza.png");
}
.T7_Feng {
	background-image: url("/ranking/Images/Character/T7/Feng.png");
}
.T7_Geese {
	background-image: url("/ranking/Images/Character/T7/Geese_T7.png");
}
.T7_gigas {
	background-image: url("/ranking/Images/Character/T7/Gigas.png");
}
.T7_gouki {
	background-image: url("/ranking/Images/Character/T7/Gouki.png");
}
.T7_heihachi {
	background-image: url("/ranking/Images/Character/T7/Heihachi.png");
}
.T7_hwoarang {
	background-image: url("/ranking/Images/Character/T7/Hwoarang.png");
}
.T7_jack7 {
	background-image: url("/ranking/Images/Character/T7/Jack7.png");
}
.T7_jin {
	background-image: url("/ranking/Images/Character/T7/Jin.png");
}
.T7_katarina {
	background-image: url("/ranking/Images/Character/T7/Katarina.png");
}
.T7_kazuya {
	background-image: url("/ranking/Images/Character/T7/Kazuya.png");
}
.T7_king {
	background-image: url("/ranking/Images/Character/T7/King.png");
}
.T7_kuma {
	background-image: url("/ranking/Images/Character/T7/Kuma.png");
}
.T7_lars {
	background-image: url("/ranking/Images/Character/T7/Lars.png");
}
.T7_law {
	background-image: url("/ranking/Images/Character/T7/Law.png");
}
.T7_lee {
	background-image: url("/ranking/Images/Character/T7/Lee.png");
}
.T7_Lei {
	background-image: url("/ranking/Images/Character/T7/Lei.png");
}
.T7_leo {
	background-image: url("/ranking/Images/Character/T7/Leo.png");
}
.T7_lili {
	background-image: url("/ranking/Images/Character/T7/Lili.png");
}
.T7_lin {
	background-image: url("/ranking/Images/Character/T7/Lin.png");
}
.T7_miguel {
	background-image: url("/ranking/Images/Character/T7/Miguel.png");
}
.T7_Negan {
	background-image: url("/ranking/Images/Character/T7/Negan_T7.png");
}
.T7_nina {
	background-image: url("/ranking/Images/Character/T7/Nina.png");
}
.T7_Noctis {
	background-image: url("/ranking/Images/Character/T7/Noctis_T7.png");
}
.T7_panda {
	background-image: url("/ranking/Images/Character/T7/Panda.png");
}
.T7_paul {
	background-image: url("/ranking/Images/Character/T7/Paul");
}
.T7_raven {
	background-image: url("/ranking/Images/Character/T7/M.Raven.png");
}
.T7_shaheen {
	background-image: url("/ranking/Images/Character/T7/Shaheen.png");
}
.T7_steve {
	background-image: url("/ranking/Images/Character/T7/Steve.png");
}
.T7_yoshimitsu {
	background-image: url("/ranking/Images/Character/T7/Yoshi.png");
}
